{% extends 'base.html.twig' %}

{% block title %}Avis visiteurs - Zoo Arcadia{% endblock %}

{% block body %}
    <div class="container text-center my-5">
        <h1>Vos avis</h1>
        <p>Laissez-nous un commentaire sur votre visite !</p>
    </div>
{% endblock %}

