{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-4">Réserver pour l’événement #{{ id }}</h1>
        <p>Cette page est en construction. Vous pourrez bientôt réserver en ligne !</p>
        <a href="{{ path('home') }}" class="btn btn-secondary mt-3">Retour à l’accueil</a>
    </div>
{% endblock %}

